<!-- ******************************* -->
<!-- Project  : Tech Blog            -->
<!-- File     : comment.handlebars  -->
<!-- Desc     : Comment section to  -->
<!--            be reused in various -->
<!--            pages in the project -->
<!-- Author   : Vicente Garcia       -->
<!-- Date     : 05/06/2022           -->
<!-- Modified : 05/10/2022           -->
<!-- ******************************* -->
<div class="comments">
  <h1 class="section-title mb-3 d-flex justify-content-center">Comments</h1>
  {{#each this}}
    <div class="card">
      <div class="card-body">
        <div>
        {{comment_text}}
        </div>
        <div class="d-flex justify-content-end">
          {{user.username}}, {{format_date created_at}}
        </div>
      </div>
    </div>
  {{/each }}
</div>