<!-- ************************** -->
<!-- Project  : Tech Blog       -->
<!-- File     : main.handlebars -->
<!-- Desc     : Main page       -->
<!-- Author   : Vicente Garcia  -->
<!-- Date     : 05/06/2022      -->
<!-- Modified : 05/11/2022      -->
<!-- ************************** -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Graduate&family=Michroma&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header class="hero">
      <div>
      <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
          <a href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1 class="app-title">The Tech Blog</h1>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>