<!-- ********************************* -->
<!-- Project  : Tech Blog              -->
<!-- File     : create-post.handlebars -->
<!-- Desc     : Section page to create -->
<!--            a new post             -->
<!-- Author   : Vicente Garcia         -->
<!-- Date     : 05/06/2022             -->
<!-- Modified : 05/10/2022             -->
<!-- ********************************* -->
<section>
  <h2>Create New Post</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>