<!-- ******************************** -->
<!-- Project  : Tech Blog             -->
<!-- File     : dashboard.handlebars  -->
<!-- Desc     : Section page to show  -->
<!--            dashboard (own posts) -->
<!-- Author   : Vicente Garcia        -->
<!-- Date     : 05/06/2022            -->
<!-- Modified : 05/10/2022            -->
<!-- ******************************** -->
{{#if posts.length}}
  <section>
    <h2>Your Dashboard</h2>
    <ol>
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </li>
      {{/each}}
    </ol>
  </section>
{{/if}}
<button onclick="window.location.href='/dashboard/create'">+ New Post</button>