<!-- ******************************** -->
<!-- Project  : Tech Blog             -->
<!-- File     : dashboard.handlebars  -->
<!-- Desc     : Section page to show  -->
<!--            dashboard (own posts) -->
<!-- Author   : Vicente Garcia        -->
<!-- Date     : 05/06/2022            -->
<!-- Modified : 05/12/2022            -->
<!-- ******************************** -->
{{#if posts.length}}
  <section>
    <h1 class="section-title mb-3 d-flex justify-content-end">Your Dashboard</h1>
      {{#each posts as |post|}}
        <button class="post-dash d-flex justify-content-between mb-2"><div><a href="/dashboard/edit/{{post.id}}">{{title}}</div><div>{{format_date created_at}}</div></a></button>
      {{/each}}
  </section>
{{/if}}
<div class="d-flex justify-content-center">
  <button class="btn-post" onclick="window.location.href='/dashboard/create'">+ New Post</button>
</div>