<!-- ******************************* -->
<!-- Project  : Tech Blog            -->
<!-- File     : homepage.handlebars  -->
<!-- Desc     : Section page to show -->
<!--            all post (homepage)  -->
<!-- Author   : Vicente Garcia       -->
<!-- Date     : 05/06/2022           -->
<!-- Modified : 05/10/2022           -->
<!-- ******************************* -->
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>