<!-- ******************************** -->
<!-- Project  : Tech Blog             -->
<!-- File     : login.handlebars      -->
<!-- Desc     : Section page to login -->
<!-- Author   : Vicente Garcia        -->
<!-- Date     : 05/06/2022            -->
<!-- Modified : 05/10/2022            -->
<!-- ******************************** -->
<form class="login-form">
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login!</button>
  </div>
</form>
<a href="/signup">Sign Up instead</a>
<script src="/javascript/login.js"></script>