<!-- **************************** -->
<!-- Project  : Tech Blog         -->
<!-- File     : signup.handlebars -->
<!-- Desc     : Section page to   -->
<!--            sign up           -->
<!-- Author   : Vicente Garcia    -->
<!-- Date     : 05/09/2022        -->
<!-- Modified : 05/12/2022        -->
<!-- **************************** -->
<div class="d-flex justify-content-center">
  <form class="login-form">
    <div class="card">
      <h3 class="card-header">Sign Up</h3>
      <div class="card-body auth-body">
        <div class="card-title">
          <label for="username-signup">Username</label>
        </div>
        <input type="text" id="username-signup" />
        <div class="card-title">
          <label for="password-signup">Password</label>
        </div>
        <input type="password" id="password-signup" />
        <div class="d-flex justify-content-between pt-3 pb-2">
          <button class="btn-auth" type="submit">Sign Up!</button>
          <a class="link" href="/login">Login instead</a>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="/javascript/signup.js"></script>