<!-- **************************** -->
<!-- Project  : Tech Blog         -->
<!-- File     : signup.handlebars -->
<!-- Desc     : Section page to   -->
<!--            sign up           -->
<!-- Author   : Vicente Garcia    -->
<!-- Date     : 05/09/2022        -->
<!-- Modified : 05/10/2022        -->
<!-- **************************** -->
<form class="signup-form">
  <div>
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign Up!</button>
  </div>
</form>
<a href="/login">Login instead</a>
<script src="/javascript/signup.js"></script>