<!-- ********************************* -->
<!-- Project  : Tech Blog              -->
<!-- File     : single-post.handlebars -->
<!-- Desc     : Section page to show a -->
<!--            post with its comments -->
<!-- Author   : Vicente Garcia         -->
<!-- Date     : 05/06/2022             -->
<!-- Modified : 05/10/2022             -->
<!-- ********************************* -->
{{> post-info post }}
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit">add comment</button>
    </div>
  </form>
{{/if}}
  {{> comments post.comments}}
{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}