* {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
}
header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
main {
  flex: 1;
  padding: 1% 4%;
}
body, html {
  height: 100%;
  font-family: 'Press Start 2P';
  color: var(--light-dark);
  background-color: var(--primary);
}
a {
  text-decoration: none;
  color: var(--primary);
  padding-right: 20px;
}
a:hover {
  color: var(--secondary);
  text-decoration: none;
}
h3 {
  font-family: 'Graduate';
}
textarea {
  height: 100px;
}
input, textarea {
  font-family: 'Michroma', sans-serif;
  margin-right: 10px;
  padding: 2px 5px;
  width: 100%;
  resize: none;
}
button {
  font-family: 'Graduate';
  background-color: var(--tertiary);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: .1s;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #3486eb;
}
.hero {
  font-family: 'Graduate';
  padding: 1% 4%;
  background-color: var(--dark);
}
.btn-no-style {
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--primary);
}
.btn-no-style:hover {
  background: none;
  color: var(--secondary);
}
.app-title {
  font-family: 'Graduate';
  font-size: 40px;
  font-weight: bolder;
  background-color: var(--primary);
  color: var(--dark);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  margin-top: 15px;
}
.section-title {
  font-family: 'Graduate';
  background-color: var(--primary);
  color: var(--dark);
  font-weight: bolder;
}
.post-title {
  font-size:larger;
}
.post-by {
  font-size: small;
}
.card {
  margin: 0 0 1% 0;
  box-shadow: 4px 8px 10px var(--light-dark);
}
.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  text-align: center;
}
.card-title {
  font-family: 'Graduate';
  font-weight: bolder;
  color: var(--dark);
  margin-top: 15px;
}
.card-body {
  padding: 1%;
}
.card-creates {
  margin: 1% 20%;
}
.auth-body {
  padding-left: 3%;
  padding-right: 3%;
}
.post-body {
  padding-left: 2%;
  padding-right: 2%;
}
.link {
  font-family: 'Graduate';
  color: var(--tertiary);
  padding-right: 0;
  padding-top: 1%;
}
.btn-auth {
  width: 32%;
}
.btn-add {
  width: 10%;
  background-color: var(--dark);
}
.btn-create {
  width: 100%;
}
.post-dash {
  font-family: 'Press Start 2P';
  width: 100%;
  font-size: 115%;
}
.delete-post-btn {
  width: 100%;
  background-color: #d41414;
}
.delete-post-btn:hover {
  background-color: #ff643d;
}
.edit-post-form, .new-post-form {
  width: 50%;
}
.login-form, .signup-form{
  width: 23%;
}


form label {
  display: block;
}
header h1 {
  font-size: 1em;
}
/*.comment-form {
  margin-bottom: 2%;
}
.comment {
  padding: 1%;
  margin-bottom: 1%;
}
.comment:nth-child(odd) {
  background-color: #fff5eb;
}
.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}*/


