* {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
}
header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
main {
  flex: 1;
  padding: 1% 4%;
}
body, html {
  height: 100%;
  font-family: 'Press Start 2P';
  color: var(--light-dark);
  background-color: var(--primary);
}
a {
  text-decoration: none;
  color: var(--primary);
  padding-right: 20px;
}
a:hover {
  color: var(--secondary);
  text-decoration: none;
}
h3 {
  font-family: 'Graduate';
}
input {
  font-family: 'Michroma', sans-serif;
  margin-right: 10px;
  padding: 2px 5px;
  width: 100%;
}
.hero {
  font-family: 'Graduate';
  padding: 1% 4%;
  background-color: var(--dark);
}
.btn-no-style {
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--primary);
}
.btn-no-style:hover {
  background: none;
  color: var(--secondary);
}
.app-title {
  font-family: 'Graduate';
  font-size: 40px;
  font-weight: bolder;
  background-color: var(--primary);
  color: var(--dark);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  margin-top: 15px;
}
.section-title {
  font-family: 'Graduate';
  background-color: var(--primary);
  color: var(--dark);
  font-weight: bolder;
}
.post-title {
  font-size:larger;
}
.post-by {
  font-size: small;
}
.auth-title {
  font-family: 'Graduate';
  font-weight: bolder;
  color: var(--dark);
  margin-top: 15px;
}
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
}
.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 1%;
  text-align: center;
}
.card-body {
  padding: 1%;
}
.auth-body {
  padding-left: 3%;
  padding-right: 3%;
}
.link {
  font-family: 'Graduate';
  color: var(--tertiary);
  padding-right: 0;
  padding-top: 1%;
}
button {
  font-family: 'Graduate';
  background-color: var(--tertiary);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: .1s;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #3486eb;
}
.btn-auth {
  width: 32%;
}
.btn-post {
  width: 15%;
}
.post-dash {
  font-family: 'Press Start 2P';
  width: 100%;
  font-size: 115%;
}



.post-list {
  margin: 0;
  padding: 0;
}
/*textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}*/
textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}
textarea {
  min-width: 40%;
  min-height: 100px;
}
form > div {
  margin-bottom: 2%;
}
form label {
  display: block;
}
.wrappers {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 1em;
}

.delete-post-btn {
  background-color: #d41414;
}
.delete-post-btn:hover {
  background-color: #ff643d;
}
/*.post {
  margin-bottom: 2%;
  line-height: 150%;
}*/
/*.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}*/
/*.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}*/
.comment-form {
  margin-bottom: 5%;
}
.comment {
  padding: 1%;
  margin-bottom: 1%;
}
.comment:nth-child(odd) {
  background-color: #fff5eb;
}
.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}
.edit-post-form {
  margin-bottom: 5%;
}